{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | relURL }}" role="button">О нас</a>
      <p class="meta">В поисках места где остановиться?! <a href="https://goo.gl/maps/NjuCbn4cxAfL99Uc6">Мы можем предложить </a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Номер 1</h2>
        <p>Размещение в благоустроенном номере на втором этаже. Номер из двух комнат вмещает до 7 человек. В номере имеется кухня со всем необходимым для готовки, а также уютная веранда для завтраков на природе.
          Стоимость проживания - 750р. с человека в сутки, дети-дошкольники - бесплатно.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Номер 2⚡️</h2>
        <p>Размещение в номере на втором этаже. Номер вместимостью до 4 человек (+дополнительное спальное место на диване), включает в себя спальню, отдельную кухню со всем необходимым и туалет.
          Стоимость проживания - 700р. с человека в сутки, дети-дошкольники - бесплатно.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Мансарда</h2>
        <p>Размещение в номере на третьем этаже, в мансарде (доступно только в летний период). Номер вместимостью до 7-ми человек, включает в себя спальню, обширную столовую, небольшую кухню, туалет и застекленную веранду. Бонус - прекрасный вид изо всех окон :)
          Стоимость проживания - 700р. с человека в сутки, дети-дошкольники - бесплатно.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Фазенда</h2>
        <p>Размещение в неблагоустроенном бревенчатом домике с печкой. Домик вмещает до 6-ти человек, в распоряжении туристов также большая застекленная веранда и летняя кухня.
          Стоимость проживания - 550р. с человека с сутки, дети-дошкольники - бесплатно.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Юрты</h2>
        <p>Размещение в юртах - вариант для опытных туристов, имеющих свои спальники и практикующих готовку на костре :)
          Внутри юрты есть освещение, розетки и мягкие матрасы.
          стоимость проживания - 300р. с человека в сутки.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Комнаты</h2>
        <p>Размещение в номере в отдельно стоящем здании. Номер вместимостью до 4-х человек, включает в себя  небольшую кухню, печь для отопления и готовки.
          Стоимость проживания - 500р. с человека в сутки, дети-дошкольники - бесплатно.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
